@model FoodDelivery.MVC.Models.LoginViewModel

<h2>Login</h2>
<form method="post">
    <label>Email:</label>
    <input type="email" asp-for="Email" />
    <label>Password:</label>
    <input type="password" asp-for="Password" />
    <button type="submit">Login</button>
</form>

<p>Or</p>
<a class="btn btn-outline-primary" href="/Account/LoginWithGoogle">Login with Google</a>

